css
body {
    background-color: #ADDFAD; 
    margin: 20px;
    font-family: Arial, sans-serif;
  
}
h1 {
    color: #474A51; 
    font-size: 60px;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;        
    font-size: 40px;          
    color: #000000;           
}
